@font-face {
	font-family: 'Inter';
	font-weight: 400;
	font-style: normal;
	src: local('Inter Regular'), url('interregular.woff2') format('woff2'),
		url('interregular.woff') format('woff'),
		url('interregular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	font-style: normal;
	src: local('Inter Bold'), url('interbold.woff2') format('woff2'),
		url('interbold.woff') format('woff'),
		url('interbold.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	src: local('EB Garamond Regular'),
		url('ebgaramondregular.woff2') format('woff2'),
		url('ebgaramondregular.woff') format('woff'),
		url('ebgaramondregular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'EB Garamond';
	font-weight: 500;
	font-style: normal;
	src: local('EB Garamond Medium'),
		url('ebgaramondmedium.woff2') format('woff2'),
		url('ebgaramondmedium.woff') format('woff'),
		url('ebgaramondmedium.ttf') format('truetype');
	font-display: swap;
}
