body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #1e1e1e;
}

.content-section {
	box-sizing: border-box;
	width: 100%;
	max-width: 360px;
	margin: auto;
}

.content-section_theme_dark {
	color: #f5f5f5;
	background-color: #131313;
}

.content-section_theme_bright {
	color: #131313;
	background-color: #fee42a;
}

.header {
	padding: 24px 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header__logo {
	width: 78px;
	display: block;
}

.header__logo-image {
	width: 100%;
}

.header__menu-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	list-style: none;
}

.header__menu-item_active .header__menu-link {
	text-decoration: none;
}

.header__menu-link {
	color: #f5f5f5;
	font-size: 16px;
	line-height: 1.2;
	text-underline-offset: 3px;
}

.cover {
	padding: 7px 24px 35px 20px;
	background-image: url('../images/cover.svg');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 95% auto;
}

.cover-title {
	color: #fff;
	width: 100%;
	font-family: 'EB Garamond', serif;
	font-size: 72px;
	font-weight: 400;
	line-height: 1;
}

.accent-span {
	display: block;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.intro {
	padding: 0px 20px 38px;
}

.intro__heading {
	display: flex;
	justify-content: space-between;
	color: #ccc;
}

.intro__title {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}

.intro__date {
	white-space: nowrap;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}

.intro__main-text {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 24px;
	line-height: 1.35;
}

.reasons {
	padding: 40px 20px;
}

.content-section__subtitle {
	margin-bottom: 32px;
	font-family: 'EB Garamond', serif;
	font-size: 28px;
	font-weight: 500;
	line-height: 1.15;
}

.content-section__introduction {
	font-size: 20px;
	line-height: 1.35;
	margin-bottom: 32px;
}

.content-section__list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-left: 16px;
	line-height: 1.35;
}

.content-section__list-accent {
	font-weight: 700;
}

.how-to {
	padding: 40px 20px 60px;
}

.cards-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.card {
	border-radius: 30px;
	padding: 20px;
}

.card_theme_dark {
	color: #f5f5f5;
	background: #343434;
}

.card_theme_bright {
	color: #131313;
	background: #fee42a;
}

.card__author-photo {
	display: block;
	width: 100px;
	border-radius: 50%;
}

.card__author-name {
	margin-top: 8px;
	font-weight: 700;
	line-height: 1.35;
}

.card__title {
	font-family: 'EB Garamond', serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 1.35;
	margin: 8px 0;
}

.card_text-only .card__title {
	margin-top: 0;
}

.card__text {
	line-height: 1.35;
}

.text-white {
	color: #f5f5f5;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #fee42a;
	padding: 20px;
}

.footer__copy {
	line-height: 1.35;
}

.footer__links {
	display: flex;
	gap: 16px;
	list-style: none;
}

.footer__links a {
	color: #f5f5f5;
	font-size: 14px;
	line-height: 1.25;
	text-decoration-line: none;
}
